@use "./../mixin/" as *;

.nav-portfolio {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 3fr;
  padding-inline: calc(var(--col) * 1);
  padding-block: calc(var(--col) * 1);
  column-gap: 2rem;
}

@include mq(sp) {
  .nav-portfolio {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "attention" "list";
    row-gap: 0.4rem;
    padding-inline: calc(var(--col) * 1);
    padding-block: calc(var(--col) * 1);
    column-gap: 2rem;
  }
}
